.button {
  width: 200px;
  height: 60px;
  border-radius: 99px;
  border-style: solid;
  margin-left: 60px;
  margin-top: 30px;
  text-align: center;
  color: rgba(24, 68, 70, 0.71);
  line-height: 60px;
  font-family: "Roboto";
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}
.button:hover {
  color: rgba(11, 180, 247, 0.8);
  border-color: rgba(0, 0, 0, 0.5);
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbqwnb4eaB_JCdwafHjPbj2rVPJ-qe7x_b-gdeqT7j4OIBx1zY");
}
.button:active {
  background-color: rgba(0, 0, 0, 0.05);
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsWrhhR10DkQF_3E9c_OdmleUbsEZ0Xt7wVwIwntjPOTyoQ20r");
}

label:last-child {
  margin-top: -50px !important;
}

.contact-form {
  width: 400px;
  height: auto;
  margin-top: 20px;
}

.contact-form > * {
  display: block;
  font-family: "Roboto";
  font-size: 14px;
}

.contact-form > label {
  position: absolute;
  margin-top: -32px;
  margin-left: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.71);
  transition: all 0.1s ease-out;
  pointer-events: none;
}

.contact-form > input {
  width: 300px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  outline: none;
}

.contact-form > input:focus + label,
input:valid + label {
  margin-top: -78px;
  margin-left: 0px;
  color: #428cf4;
}

.contact-form > textarea {
  width: 300px;
  min-height: 60px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  padding: 20px;
  box-sizing: border-box;
  outline: none;
  resize: none;
}

.contact-form > textarea:focus + label,
textarea:valid + label {
  margin-top: -100px !important;
  margin-left: 0px;
  color: #428cf4;
}

.contact-card {
  width: 400px;
  height: auto;
  padding: 40px;
  border-radius: 4px;
  background: linear-gradient(#eff3ff, #0602fa);
  display: inline-block;
}

.contact-card > .contact-profile {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  margin: 0 auto;
  background: linear-gradient(#4cb4ff, #4c79ff);
  line-height: 140px;
  text-align: center;
  font-family: "Roboto";
  font-size: 48px;
}

.contact-card > .contact-info-container {
  margin-top: 40px;
  cursor: default;
}

.contact-card > .contact-info-container > .contact-info {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: 0px 2px 6px 0px hsla(0, 0%, 0%, 0.1);
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  border-radius: 2px;
  margin-top: 10px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBeZh9kWDA5Dm2vIcm-34rIFKRPtrudLIuZvOrZqF_2jVIs_c1NA");
}

.contact-card > .contact-info-container > .contact-data-container {
  width: 100%;
  height: auto;
  background-color: #fff;
  box-shadow: 0px 2px 6px 0px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 2px;
  margin-top: 10px;
}

.contact-card > .contact-info-container > .contact-data-container > div {
  display: inline-block;
  position: relative;
  vertical-align: top;
  max-width: 80%;
  word-break: break-word;
}

.contact-card > .contact-info-container > .contact-info > div {
  float: left;
  line-height: 60px !important;
}

.contact-data-container:last-child > .contact-data {
  margin-left: 16px !important;
}

.contact-data {
  font-family: "Roboto";
  font-size: 16px;
  margin-left: 20px;
  white-space: pre-wrap;
}

.c-f-container{
  float: left;
}
.wrapper{
  width: 880px;
  height: auto;
  
}
